/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #58D68D, #FF8C00); 
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #fff;
    border-radius: 10px;
}

header .logo {
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    transition: background 0.3s, transform 0.2s;
}

nav ul li a:hover {
    background-color: #58D68D;
    transform: translateY(-3px);
}

main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    margin: 30px auto;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    
}

.project-card:hover {
    background-color:antiquewhite
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.project-date {
    font-size: 0.8rem;
    color: #777;
}

.project-arrow {
    font-size: 1.5rem;
    color: #FF8C00;
    cursor: pointer;
}
#top-section {
    width: 100%;
}

.top-controls {
    display: flex;
    justify-content: space-between;  /* Esto asegura que los elementos estén en los extremos */
    align-items: center;  /* Alinea los elementos verticalmente */
    width: 100%;  /* Asegura que ocupe todo el ancho disponible */
}

#searchProject {
    width: 88%;
    padding: 12px 20px;
    margin: 20px 0;
    border: 2px solid #FF8C00;
    border-radius: 30px;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
    background-color: #fff;
}

#searchProject:focus {
    border-color: #58D68D;
    box-shadow: 0 0 8px rgba(88, 214, 141, 0.7);
}

#searchProject::placeholder {
    color: #aaa;
    font-style: italic;
}

#createProjectBtn{
    width: 10%;
    height: 50px;
    border-radius: 30px;
    padding: 12px 20px;
    margin: 20px 0;
    border: 2px
}

#project-list h2 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

td, th {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    background: #f9f9f9;
}

th {
    background-color: #FF8C00;
    color: white;
}

button {
    background-color: #FF8C00;
    color: white;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #58D68D;
}

footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg, #58D68D, #FF8C00);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #fff;
}



